<?xml version="1.0" encoding="UTF-8"?>
<oimplugins>
  <plugins pluginpoint="oracle.iam.scheduler.vo.TaskSupport">
    <plugin pluginclass="com.iam.generic.scheduler.NotifyEventFailuresScheduler"
            version="1.0.0" name="Notify Event Failures Scheduler">
    </plugin>
  </plugins>
</oimplugins>
